<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="client.js"></script>
</head>
<body>
  <header class="display-shoes-header">
    <div class="display-shoes-header">
      <div class="row">
        <div class="col-md-6">
          <a href="/display_shoes">HOME</a>
          <a href="/calendar">CALENDAR</a>
          <!--<button id="target">click me</button>-->
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-12 display_shoes">
      {{ shoes }}
      <div id="all-shoes"></div>
    </div>
  </div>
  <div class = "row footer">
      <div class="col-md-3 auth-button">
          <a class="navbar-button" href="/display-shoes">Home</a>
          <a class="navbar-button" href="/search">Search</a>
          <a class="navbar-button"  href="/new_shoe">Sell</a>
          <a class="navbar-button"  href="/profile">Profile</a>
        </div>
    </div>
</body>
