<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="styles.css">

            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script src="search.js"></script>
    </head>
    <body>
        <input id="search" type="text" name="Search" placeholder="Brand" />
        <div id="all-shoes-of-search"></div>
        <div class = "row footer">
                <div class="col-md-12 auth-button">
                    <a class="navbar-button" href="/display-shoes">Home</a>
                    <a class="navbar-button" href="/search">Search</a>
                    <a class="navbar-button"  href="/new_shoe">Sell</a>
                    <a class="navbar-button"  href="/profile">Profile</a>
                  </div>
              </div>
    </body>
</html>